# requirements for data manipulation
pandas
numpy
# requirements for data visualization
matplotlib
seaborn
# requirements for machine learning
scikit-learn
xgboost
catboost
# requirements for web app
flask
# requirements for other functionalities
dill
# -e .